<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--CSS taken from smartdraw.com-->
	<link rel="stylesheet" type="text/css" href="https://wcs.smartdraw.com/common/css/style.min.css?bn=15100111868">
	<title>About us</title>
	<style type="text/css">
		.siteNavContainer{
			position: static;
		}
		.grid {
			padding-top: 3rem;
		}
		 .navList li {
		    padding: 0 10px;
		    cursor: pointer;
		}
		.footer{
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: gray;
			color: white;
			text-align: center;
			padding-top: 10px;
		}
	</style>
</head>
<body>
	<div class="siteNavContainer" id="siteNavContainer" role="navigation">
	<div class="wrapper">
	<div class="grid" style="padding-top: 0px; padding-bottom: 0px;">
		<div class="nav">
			<a class="navBarLogo">
				<img src="/images/chatLogo.png" style="width: 80px">					
			</a>
			<a  class="navBarLogo">
				<img src="/images/chatname.png" style="margin-top: 20px; width: 200px; height: 30px;">
			</a>
			<ul class="navList" style="min-height: 65px;">
				<li class="list"><a href="/home">Home</a></li>
				<li class="list"><a href="/help">Help</a></li>
				<li class="list"><a href="/about">About us</a></li>
				<li class="list"><a href="/logout" class="btn btn22 btn-gold" id="siteNav-navButton">Logout</a></li>
			</ul>
		</div>
	</div>
	</div>
	</div>
	<div>
		<h2 class="displayHeader" style="margin-top: 50px; text-align: center;">ABOUT THE APP</h2>
		<p>
			UNI CHAT, a Place where U ‘n’ I can Chat
			What is UNI CHAT? It is a place where college students are able to come together to chat about particular interest. This app will bring college students together, connecting college students throughout the United States of America or world if it becomes a global college chat app.
			This app will have a login page that will allow users to login or reset their password to their accounts if they forget it.
			Also on the login page, there will be a registration link to be able to register to chat in this app.
			Then after login, you will be able to pick from a list of chat rooms and connect with your fellow college students.
			This UNI CHAT app is supposed to help bring together college students with similar interest.
		</p>
	</div>
	<div>
		<h2 class="displayHeader" style="margin-top: 50px; text-align: center;">ABOUT THE CREATORS</h2>
		<p>
			This project was designed by Daniel Amponsah, Evan Brummer, and Anil, Dwarampudi. This group was put together in a software Engineering class for the purpose of building this application. Evan was responsible for designing the User interface for the log in and sign up page. Daniel was responsible for the user interface of the homepage and chat page. He also was in charge of implementing the real time, bidirectional and event-based communication between the client and server. Anil was responsible for the user authentication and registration. He used mongoDB which is a modern and an NoSQL database which works on direct query method unlike SQL. We worked together as a team to makethis project happen.
		</p>
	</div>
	<div class="footer">
		<p>© 2023 UniChat, Inc.</p>
	</div>
</body>
</html>
