<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--CSS taken from smartdraw.com-->
	<link rel="stylesheet" type="text/css" href="https://wcs.smartdraw.com/common/css/style.min.css?bn=15100111868">
	<title>Help</title>
	<style type="text/css">
		.siteNavContainer{
			position: static;
		}
		.grid {
			padding-top: 3rem;
		}
		 .navList li {
		    padding: 0 10px;
		    cursor: pointer;
		}
		.footer{
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: gray;
			color: white;
			text-align: center;
			padding-top: 10px;
		}
		.col{
			float: left;
			width: 50%;
			padding: 5px;
		}
		.row::after{
			content: "";
			clear: both;
			margin-bottom: 15px;
			display: table;
		}
		* {
			box-sizing: border-box;
		}
	</style>
</head>
<body>
	<div class="siteNavContainer" id="siteNavContainer" role="navigation">
	<div class="wrapper">
	<div class="grid" style="padding-top: 0px; padding-bottom: 0px;">
		<div class="nav">
			<a class="navBarLogo">
				<img src="/images/chatLogo.png" style="width: 80px">					
			</a>
			<a  class="navBarLogo">
				<img src="/images/chatname.png" style="margin-top: 20px; width: 200px; height: 30px;">
			</a>
			<ul class="navList" style="min-height: 65px;">
				<li class="list"><a href="/home">Home</a></li>
				<li class="list"><a href="/help">Help</a></li>
				<li class="list"><a href="/about">About us</a></li>
				<li class="list"><a href="/logout" class="btn btn22 btn-gold" id="siteNav-navButton">Logout</a></li>
			</ul>
		</div>
	</div>
	</div>
	</div>
	<div class="content">
		<h2 class="displayHeader" style="margin-top: 25px; margin-bottom: 25px; text-align: center;">USER MANUAL</h2>
		<div class="row">
			<div class="col" style="width: 33.33%">
				<p>1. Log in with email and password or sign up to access UniChat.</p>
			</div>
			<div class="col" style="width: 33.33%">
				<img src="/images/loginunichat.png" style="width: 400px;">
			</div>
			<div class="col" style="width: 33.33%">
				<img src="/images/signup.png" style="width: 400px; height: 257px;">
			</div>
		</div>
		<div class="row">
			<div class="col" >
				<p>2. Choose room of interest from available options.</p>
			</div>
			<div class="col">
				<img src="/images/home.png" style="width: 400px; height: 257px;">
			</div>
		</div>
		<div class="row">
			<div class="col" >
				<p>3. Chat with other users within the same chat room.</p>
			</div>
			<div class="col">
				<img src="/images/chatpage.png" style="width: 400px; height: 257px;">
			</div>
		</div>
		<div class="row">
			<div class="col" style="width: 33.33%">
				<p>4. If you forget your password, enter email on forgot password page and answer security quetsion.</p>
			</div>
			<div class="col" style="width: 33.33%">
				<img src="/images/forgotpword.png" style="width: 400px;">
			</div>
			<div class="col" style="width: 33.33%">
				<img src="/images/securityq.png" style="width: 400px; height: 257px;">
			</div>
		</div>
		<div class="row">
			<div class="col" >
				<p>5. After correctly answering security question, set new password.</p>
			</div>
			<div class="col">
				<img src="/images/changepword.png" style="width: 400px; height: 257px;">
			</div>
		</div>
	</div>


	<div class="footer">
		<p>© 2023 UniChat, Inc.</p>
	</div>
</body>
</html>